.HomePage  {
display:flex;
align-items: center;
flex-direction: column;
margin: 20px;
text-align: center;
color: rgb(76, 73, 73);

}
.HomePage a {
  text-decoration: none;
  color: rgb(76, 73, 73);
}

.HomePage div {
  width: fit-content;
  overflow: hidden;
  padding: 20px 20px;
  width: 500px;
  border: 1px solid #b6b3b3;
}

.HomePage img {
  width: 500px;
}

.BeersList {
  display: flex;
  flex-direction: row;
  border: 1px solid #b6b3b3;
  padding: 25px;
  gap: 20px;
}

.BeersList div {
  margin-left: 20px;
  margin-bottom: 15px;

}

.DetailsPage  {
display: flex;
align-items: center;
flex-direction: column;
width: 600px;
margin-top: 20px;
margin-left: 20px;
padding-top: 20px;
padding: 20px;
border: 1px solid #b6b3b3;

}

.DetailsPage img {
  align-self: center;
}
.components {
  display: flex;
  flex-direction: row;
}

.componentRight {
  float: right;
  margin-left: 250px;
}


.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
